
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$blue: #262c67;
$white: #ffffff;
$gray: #999999;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.mainCnts{
  min-height: 750px;
  padding-top: 75px;
}
.navbar{
  background-color: $white;
  border-bottom: 1px solid $gray;
}
.navbar-dark .navbar-nav .nav-link{
  color: $blue;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
  color: $gray;
}
.navbar-brand img{
  width: 60%;
}
.main-image{
  width: 100%;
}
.context-dark{
  background-color: $blue;
  color: $white;
}
.context-dark a{
  color: $white;
}
a{
  color: $blue;
}
.list-group-item.active{
  background-color: $blue;
  border-color: $blue;
}
.product-listing{
    .image-wrapper{
        display: flex;
        height: 170px;
        overflow: hidden;
    }
    .image-wrapper img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}
.product-detail img{
    width: 100%;
}
.cartItems .img-responsive{
  width: 100%;
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  width: 100%;
}
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
  border-color: #fa755a;
}
.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.error{
  color: #fa755a;
}
.navbar-dark .navbar-toggler{
  background-color: $blue;
}
.sub-option{
  display: none;
}